.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  position: relative;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__title {
  margin: 0 0 32px;
  color: #212121;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/imgFormClose.svg);
  opacity: 40%;
  background-size: cover;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.modal__close-btn:hover {
  opacity: 100;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 32px 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #212121b3;
}

.modal__input {
  display: block;
  box-sizing: border-box;
  margin: 8px 0 0;
  width: 100%;
  border: 1px solid #21212166;
  border-radius: 8px;
  padding: 16px 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #212121;
}

.modal__input::placeholder {
  opacity: 30%;
}

.modal__submit-btn {
  max-width: 156px;
  border: 0;
  border-radius: 8px;
  background-color: #212121;
  padding: 18px 32px;
  color: #fcf5e5;
  margin: 32px 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.modal__submit-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px 12px;
    max-width: 276px;
  }

  .modal__form {
    max-width: 276px;
    width: 100%;
    margin: auto;
  }

  .modal__title {
    margin: 0 0 24px;
    font-size: 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin: 0;
  }

  .modal__input {
    max-width: 251px;
    margin: 8px 0 24px;
    font-size: 16px;
    line-height: 16px;
  }

  .modal__input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .modal__submit-btn {
    max-width: 276px;
    width: 100%;
    margin: 0;
  }
}
