.card {
  margin: 0 auto;
  position: relative;
}

.card__delete {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0;
  border: 0;
  border-radius: 16px;
  height: 32px;
  width: 32px;
  background-image: url(../images/trashCanDefault.svg);
  background-position: cover;
}

.card__delete:hover {
  background-image: url(../images/trashCanHover.svg);
  cursor: pointer;
}

.card__image {
  height: 413px;
  width: 413px;
  margin: 0;
  display: block;
  border-radius: 8px;
}

.card__info {
  max-width: 413px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
}

.card__text {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-default {
  padding: 0;
  opacity: 40%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  width: 23px;
  height: 20px;
  background-image: url(../images/like-icon.svg);
  padding-left: 23px;
  background-position: cover;
}

.card__like-default:hover {
  opacity: 100%;
}

.card__like-liked {
  /* The figma does not have a heart image with a 
transparent background other than the one with lower opacity,
so I coded this to make the heart fuction in the absence of a
proper image file */
  height: 20px;
  aspect-ratio: 1;
  clip-path: shape(
    from 50% 91%,
    line to 90% 50%,
    arc to 50% 9% of 1%,
    arc to 10% 50% of 1%
  );
  background: #ff6565;
  opacity: 100%;
}

.card__like-liked:hover {
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
    margin: 0;
    display: block;
    border-radius: 8px;
  }

  .card__info {
    width: 288px;
  }

  .card__text {
    font-size: 16px;
    line-height: 16px;
  }

  .card__like {
    width: 20px;
    height: 18px;
  }

  .card__like-icon {
    width: 20px;
    height: 18px;
  }
}
