.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  position: relative;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__title {
  margin: 0;
  color: #212121;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/imgFormCloseBlack.svg);
  opacity: 40%;
  background-size: cover;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.modal__close-btn:hover {
  opacity: 100;
  cursor: pointer;
}

.modal__close-btn_type_outside {
  position: absolute;
  top: 0;
  right: -52.5px;
  width: 40px;
  height: 40px;
  background-image: url(../images/imgFormCloseWhite.svg);
  background-size: cover;
  border: 0;
  background-color: transparent;
  padding: 0;
  opacity: 100%;
}

.modal__close-btn_type_outside:hover {
  opacity: 40%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 32px 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #212121b3;
  display: block;
}

.modal__input {
  display: block;
  box-sizing: border-box;
  margin: 8px 0 0;
  width: 100%;
  border: 1px solid #21212166;
  border-radius: 8px;
  padding: 16px 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #212121;
}

.modal__input:hover {
  border: 1px solid #212121;
  cursor: pointer;
}

.modal__input::placeholder {
  opacity: 30%;
}

.modal__error-text {
  color: #ff0000b3;
  margin: 8px 0 0;
  display: block;
}

.modal__input_type_error {
  border-color: #ff000099;
}

.modal__input_type_error:hover {
  border-color: #ff000099;
}

.modal__submit-btn {
  max-width: 156px;
  border: 0;
  border-radius: 8px;
  background-color: #212121;
  padding: 18px 32px;
  color: #fcf5e5;
  margin: 32px 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.modal__submit-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

.modal__submit-btn_disabled {
  opacity: 50%;
}

.modal__submit-btn_disabled:hover {
  opacity: 50%;
}

.modal__preview {
  position: relative;
  padding: 8px 8px;
  background: transparent;
  padding: 0;
  display: inline-block;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
  margin-bottom: 8px;
}

.modal__caption {
  color: #fff;
  background-color: #212121;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0;
  width: fit-content;
  text-wrap: wrap;
  padding: 4px 8px;
  font-size: 20px;
  line-height: 24px;
}

.modal__del-warn {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 20px;
  position: relative;
  max-width: 630px;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}
.modal__del-warn_title {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.modal__del-warn-btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
}

.modal__del-warn_button {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  border-width: 1px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  background-color: #fff;
}

#btnDelete {
  background-color: #ff6565;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px 12px;
  }

  .modal__form {
    max-width: 300px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }

  .modal__title {
    margin: 0 0 24px;
    font-size: 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin: 0;
  }

  .modal__input {
    max-width: 251px;
    margin: 8px 0 24px;
    font-size: 16px;
    line-height: 16px;
  }

  .modal__input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .modal__submit-btn {
    max-width: 276px;
    width: 100%;
    margin: 0;
  }

  .modal__image {
    max-width: 288px;
  }

  .modal__close-btn_type_outside {
    top: -48px;
    right: 0;
  }

  .modal__del-warn_title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .modal__del-warn {
    row-gap: 20px;
    padding: 12px 12px;
  }

  .modal__del-warn-btnContainer {
    flex-direction: column;
    justify-content: space-between;
    row-gap: 12px;
  }
}
